// .btn {
//   display: inline-flex;
//   padding: 10px 20px;

//   color: $color-white;

//   background-color: $color-transperent;
//   border: none;
//   cursor: pointer;

//   transition: opacity $trans-default;

//   &--red {
//     background-color: $color-torch-red;
//   }

//   &:disabled {
//     opacity: 0.5;

//     pointer-events: none;
//   }

//   @include hover-focus {
//     opacity: 0.8;
//   }
// }

.btn {
  user-select: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
