.footer {
  background-color: $bg-color-black-footer;
  color: $color-white;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  padding: 34px 0;

  @include vp-1199 {
    padding: 47px 45px;
  }

  @include vp-767 {
    display: block;
    column-count: 2;
    column-gap: 61px;
    padding-left: 16px;
  }
}

.footer__logo {
  padding-top: 8px;
  display: flex;
  align-items: flex-end;

  @include vp-1199 {
    padding: 0;
    align-items: center;
  }

  @include vp-767 {
    margin: 4px 0 20px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 431px;
  color: $color-white;
  margin-left: 10px;

  @include vp-1199 {
    width: 391px;
    column-gap: 30px;
    margin-left: 21px;
  }

  @include vp-767 {
    width: 100%;
    display: block;
    margin-bottom: 54px;
    padding: 0;
    margin-left: 0;
  }
}

.footer__item {
  @include text-small;

  @include vp-767 {
    width: 100%;
    margin-bottom: 16px;
  }
}

.footer__link {
  position: relative;
  padding: 0;
  color: $color-white;
  background: none;
  border: none;

  @include text-small;

  @include vp-767 {
    font-size: 16px;
  }

  @include hover {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background-color: $color-white;
    }
  }

    &:focus-visible {
    outline: 1px solid $color-white;
    outline-offset: 5px;
  }

  &:active {
    outline: none;

    &::after {
      content: none;
    }
  }
}

.footer__social-links {
  margin: 0;
  padding: 0;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;

  @include vp-767 {
    justify-content: start;
    column-span: all;
  }
}

.footer__social-links svg {
  width: 14px;
  height: 14px;

  @include focus {
    fill: $color-white;
  }
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-white;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: $color-bright-blue;
    fill: $color-white;
    outline: none;
  }

  &:active {
    background-color: $bg-color-primary;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.3);
    fill: $bg-color-black-footer;
  }
}
