.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  // justify-content: space-between;
  // display: grid;
  // grid-template-columns: 122px 152px;
  justify-content: space-between;
  width: 1166px;
  margin: 0 auto;
  padding: 30px 0;

  @include vp-1199 {
    width: 100%;
    padding: 30px 45px;
  }

  @include vp-767 {
    padding: 15px;
    flex-wrap: nowrap;
  }
}

.header__container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 75%;
  gap: 20px;
}

.header__logo {
  @include vp-1199 {
    padding: 10px 0;
  }

  @include vp-767 {
    padding: 0;
    width: 45%;
  }
}

.header__phone {
  display: block;
  font-family: $ff-primary;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.78px;
  color: $color-white;
  width: 154px;

  @include vp-1199 {
    width: 143px;
    padding-right: 0;
    font-size: 24px;
    align-self: center;
    letter-spacing: 0.48px;
  }

  @include vp-767 {
    width: 116px;
    font-size: 20px;
    align-self: flex-start;
    letter-spacing: 0.4px;
  }

  @include hover-focus {
    color: $color-bright-blue;
  }
}
