.hero {
  background: $main-gradient;
}

.hero__wrapper {
  margin: 0 auto;
  padding: 51px 303px 51px 122px;
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 49px 64px;
  max-width: 1366px;
  color: $color-white;

  @media (max-width: (1280px)) {
    padding: 82px 37px;
    display: grid;
    width: 850px;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
  }

  @include vp-1199 {
    width: 750px;
  }

  @include vp-767 {
    padding: 61px 0 78px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
}

.hero__info {
  padding: 127px 0 0;
  display: grid;
  grid-template-columns: 129px 248px;
  text-align: right;

  @include vp-1199 {
    padding: 58px 0 0;
    grid-template-columns: 129px 187px;
    column-gap: 8px;
  }

  @include vp-767 {
    margin: 0 auto;
    padding: 52px 0 0;
    grid-template-columns: 113px 188px;
    column-gap: 0;
  }
}

.hero__info p {
  margin: 0 0 -11px;
  padding-right: 51px;
  font-family: $ff-primary;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.09rem;
  text-transform: lowercase;
  grid-column: 2/3;

  @include vp-1199 {
    margin: 0 0 5px;
    padding-right: 4px;
    font-size: 34px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    padding-right: 9px;
    font-size: 28px;
    letter-spacing: 0.05rem;
  }
}

.hero__info h1 {
  margin: 0;
  align-self: flex-end;
  text-transform: uppercase;
  grid-column: 2/3;

  @include h1-header;

  @include vp-1199 {
    margin-top: -12px;
    margin-bottom: 8px;
    text-transform: none;
  }

  @include vp-767 {
    position: relative;
    margin-bottom: 22px;
    padding-right: 0;
    right: 6px;
  }
}

.hero__list {
  margin: 0;
  padding: 110px 16px 0 0;
  grid-column: 1/2;
  grid-row: 2/3;
  list-style-type: none;
  align-self: center;
  text-align: right;

  @include text-small;

  @include vp-1199 {
    padding-top: 59px;
  }

  @include vp-767 {
    position: relative;
    padding-top: 13px;
    padding-right: 0;
    left: 4px;
  }
}

.hero__btn {
  padding: 20px 54px;
  justify-self: flex-end;
  align-self: flex-start;
  color: $color-white;
  text-transform: uppercase;
  background-color: transparent;
  border: 4px solid $border-color-white;
  grid-column: 1/2;

  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;

  &:hover,
  &:focus {
    color: $color-bright-blue;
    background-color: $color-white;
    outline: none;
  }

  &:active {
    color: $color-primary;
  }

  @include vp-1199 {
    padding: 21px 31px;
    width: auto;
  }

  @include vp-767 {
    margin: 0 15px 0;
    padding: 22px 20px;
    width: calc(100% - 30px);
    text-align: center;
  }
}

.hero picture {
  grid-row: 1/3;
  grid-column: 2/3;
}

.hero img {
  object-fit: cover;

  @include vp-767 {
    display: none;
  }
}
