.promotion {
  padding: 134px 0 120px;

  @include vp-1199 {
    padding: 95px 45px 100px;
  }

  @include vp-767 {
    padding: 66px 15px 70px;
  }
}

.promotion h3 {
  margin: 0 0 39px;
  text-align: center;

  @include h3-header;

  @include vp-1199 {
    margin-bottom: 44px;
  }

  @include vp-767 {
    margin-bottom: 45px;
  }
}

.promotion__wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 211px 211px;
  width: 1160px;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 324px 324px;
    grid-template-rows: auto 211px;
    width: 678px;
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    width: 290px;
  }
}

.promotion__content {
  grid-column: 1/2;
  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $color-white;
  background-color: $color-torch-red;

  @include vp-1199 {
    grid-template-columns: 279px 399px;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.promotion__info {
  padding: 45px 45px 48px;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include vp-767 {
    padding-top: 44px;
    text-align: center;
    align-items: center;
  }
}

.promotion__info span {
  margin: 0 0 2px;
  display: block;
  font-size: 28px;
  font-weight: 700;

  @include vp-767 {
    margin-bottom: 7px;
  }
}

.promotion__info span + span {
  margin: 0 0 20px;
  display: block;

  font-size: 70px;
  line-height: 70px;
  font-weight: 700;

  @include vp-767 {
    margin-bottom: 16px;
    font-size: 70px;
    font-size: 64px;
    line-height: 64px;
  }
}

.promotion__info p {
  @include text-large;

  margin: 0;
  line-height: 140%;

  @include vp-767 {
    margin-bottom: 32px;
  }
}

.promotion__more {
  position: relative;
  margin-top: auto;
  padding: 0;
  display: inline-block;
  color: $color-white;
  background: none;
  border: none;

  &::after {
    position: absolute;
    content: "";
    width: 79px;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: $color-white;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    outline: 1px solid $color-white;
    outline-offset: 2px;
  }

  &:active {
    opacity: 1;
  }

  @include button-large;
}

.promotion__content picture {
  grid-column: 2/3;
  object-fit: cover;
}

.promotion__item {
  padding: 25px 29px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 211px;
  color: #1c3374;
  border: 7px solid;
  border-image: $button-gradient 1;

  @include vp-767 {
    padding: 32px 20px 43px;
    align-items: center;
    text-align: center;
  }
}

.promotion__item h4 {
  margin: 0 0 9px;

  @include h4-header;

  @include vp-767 {
    font-size: 26px;
    margin-bottom: 7px;
  }
}

.promotion__item p {
  margin: 0;
  font-size: 16px;
  line-height: 140%;

  @include vp-767 {
    margin-bottom: 26px;
  }
}

.promotion__item-more {
  position: relative;
  margin-top: auto;
  padding: 0;
  color: $color-primary;
  background: none;
  border: none;


  &::after {
    position: absolute;
    content: "";
    width: 68px;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #1c3374;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    outline: 1px solid $color-primary;
    outline-offset: 2px;
  }

  &:active {
    opacity: 1;
  }

  @include button-regular;
}

.promotion img {
  height: 100%;
  object-fit: fill;
  background-color: $color-bright-blue;
}
